html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  color: inherit; }

h1, h2, h3, h4, h5, h6, p, pre, ol, ul, li {
  margin: 0.5em 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Helvetica, sans-serif; }

#container {
  width: 800px;
  margin: 5em auto; }

header a {
  text-decoration: none; }
header nav {
  top: 50px;
  left: auto;
  width: 800px;
  border: 5px solid;
  padding: 5px;
  display: none;
  z-index: 100;
  position: fixed;
  font-size: 0.8em;
  text-align: justify; }

.fullwidth header nav {
  min-width: 500px;
  width: 90%;
  left: 5%; }

nav#main {
  top: -36px;
  height: 24px;
  line-height: 24px;
  display: block; }
  nav#main img {
    vertical-align: middle; }

.has-rule {
  column-count: 2;
  -o-column-count: 2;
  -moz-column-count: 2;
  -khtml-column-count: 2;
  -webkit-column-count: 2;
  column-count-gap: 2em;
  -o-column-count-gap: 2em;
  -moz-column-count-gap: 2em;
  -khtml-column-count-gap: 2em;
  -webkit-column-count-gap: 2em;
  column-rule-style: solid;
  -o-column-rule-style: solid;
  -moz-column-rule-style: solid;
  -khtml-column-rule-style: solid;
  -webkit-column-rule-style: solid;
  column-rule-width: 1px;
  -o-column-rule-width: 1px;
  -moz-column-rule-width: 1px;
  -khtml-column-rule-width: 1px;
  -webkit-column-rule-width: 1px; }

nav#info img#cover {
  float: right;
  height: 20em;
  margin: 1em; }
nav#info h1:before, nav#info h2:before {
  font-size: 80%;
  font-weight: normal; }
nav#info h1:before {
  content: 'Title: '; }
nav#info h2:before {
  content: 'Ch: '; }

nav#options p {
  padding: 0.5em; }

article {
  text-align: center; }
  article img {
    display: inline-block; }
  article ul {
    list-style: none;
    padding: 0; }

.forced800 img {
  width: 800px; }

footer nav {
  font-size: 0.7em;
  margin: 1em auto;
  text-align: center; }

input[type=button] {
  border: 1px solid;
  background-color: transparent; }

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer; }
  a:hover, a:focus {
    text-decoration: none; }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.2em; }

.horizontal ul {
  margin: 0 0 1em 0;
  padding: 0;
  float: left; }
.horizontal li {
  float: left; }

.spaced li {
  padding: 0.5em; }

div#mask {
  background: black;
  opacity: 0.8;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 50;
  position: fixed;
  top: 0px;
  left: 0px; }
