html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  color: inherit;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@mixin css3($property, $value) {
  #{$property}: $value;
  -o-#{$property}: $value;
  -moz-#{$property}: $value;
  -khtml-#{$property}: $value;
  -webkit-#{$property}: $value;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-color: #111;
  cursor: default;
}

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  
  &:hover, &:focus {
    text-decoration: none;
  }
}

article {
  text-align: center;
  
  ul {
    list-style: none;
    padding: 0 auto;
    float: left;
  }
  
  &.forced800 img {
    width: 800px;
  }
  
  &.horizontal {
    ul {
      margin: 0 0 1em 0;
      padding: 0;
    }

    li {
      float: left;
    }
  }
  
  &.spaced li {
    padding: 0.5em;
  }
}

aside {
  background-color: white;
  opacity: 0.1;
  
  @include css3(box-shadow, 0.2em 0.2em 1em 0.1em grey);
  @include css3(transform, translateY(-2.5em) rotate(-45deg));
  @include css3(transition, opacity 150ms ease-in);
  @include css3(transition, left 150ms ease-in);
  
  width: 5em;
  height: 5em;
  
  position: fixed;
  top: 100%;
  left: -2.5em;
  
  &:before {
    content: ' ';
    background-color: white;
    @include css3(box-shadow, 0.2em -0.2em 1em 0.1em grey);
    @include css3(transform, rotate(-45deg));
    
    display: block;
    position: relative;
    width: 5em;
    height: 5em;
    
    height: 20em;
    left: -6.4em;
    top: -15.3em;
  }
  
  &:hover {
    left: 15em;
    opacity: 0.7;
  }
  
  section {
    position: fixed;
    top: 90%;
    left: 1em;
    width: 16.9em;
    height: 3em;
    @include css3(transform, rotate(45deg) translateY(0.6em) translateX(-16.2em));
    
    a {
      position: relative;
      top: 1em;
      text-decoration: none;
      margin-left: 0.5em;
    }
  }
}